<template>
    <div id="app">
      <router-view />
    </div>
</template>
  
<script>
  export default {
    name: 'App'
  };
</script>
  
<style>
  body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
  }
</style>  