<template>
    <div>
      <h1>Home</h1>
      <input type="text" v-model="searchQuery" placeholder="Search for a book" />
      <button @click="searchBook">Search</button>
      <BookList :books="books" />
    </div>
</template>
  
<script>
  import axios from 'axios';
  import BookList from '@/components/BookList.vue';
  
  export default {
    name: 'Home',
    components: {
      BookList
    },
    data() {
      return {
        searchQuery: '',
        books: []
      };
    },
    methods: {
      searchBook() {
        axios.get(`/api/books?query=${this.searchQuery}`).then(response => {
          this.books = [response.data];
        }).catch(error => {
          console.error(error);
          this.books = [];
        });
      }
    }
  };
</script>  