<template>
    <div>
      <ul>
        <li v-for="book in books" :key="book.name">
          <router-link :to="{ name: 'Book', params: { title: book.name } }">{{ book.name }}</router-link>
        </li>
      </ul>
    </div>
</template>
  
<script>
  export default {
    name: 'BookList',
    props: ['books']
  };
</script>
  