<template>
    <div>
      <h1>{{ book.name }}</h1>
      <iframe :src="book.url" width="100%" height="600px"></iframe>
    </div>
</template>
  
<script>
  export default {
    name: 'Book',
    props: ['title'],
    data() {
      return {
        book: {}
      };
    },
    created() {
      axios.get(`/api/books?query=${this.title}`).then(response => {
        this.book = response.data;
      }).catch(error => {
        console.error(error);
      });
    }
  };
</script>
  